:root {
  --main: #c2e173;
  --button: #113371;
  --button-light: #5c79ae;
  --custom-grey: #d1d1d1;
}

body {
  // Keeps page from resizing when content doesn't overflow document height
  overflow-y: scroll;
}

.bg-nav {
  background-color: var(--main);
}

.bg-footer {
  background-color: var(--custom-grey);
}

.btn-custom {
  background-color: var(--button) !important;
  color: white !important;
}

.btn-custom:hover {
  background-color: var(--button-light) !important;
}

#product-img {
  max-height: 50vh;
}

#card-img {
  object-fit: cover;
  height: 250px;
}

#dropdown-search {
  z-index: 1;
}

.navbar-brand img {
  height: 75px;
}

a.nav-link {
  font-weight: bold;
  // Transparent border to keep all nav links aligned
  border-bottom: solid 2px transparent;
}

a.active.nav-link {
  font-weight: bold;
  border-bottom: solid 2px #000000;
}

a.active.nav-link:hover,
a.nav-link:hover {
  color: white;
}

a .list-group-item:hover {
  color: var(--main);
}
